<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords"
	content="Govihar Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript">
	
	 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 

</script>
<link href="../bootstrap/css/bootstrap.css" type="text/css"
	rel="stylesheet" media="all">
<link href="../bootstrap/css/style.css" type="text/css" rel="stylesheet"
	media="all">
<link rel="stylesheet" href="../bootstrap/css/flexslider.css"
	type="text/css" media="screen" />
<link type="text/css" rel="stylesheet"
	href="../bootstrap/css/JFFormStyle-1.css" />
<script src="../bootstrap/js/jquery.min.js"></script>
<script src="../bootstrap/js/modernizr.custom.js"></script>
<link
	href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic,700italic,900,900italic'
	rel='stylesheet' type='text/css'>
<link
	href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
	rel='stylesheet' type='text/css'>
<script type="text/javascript">
	$(document).ready(function() {
		$('#horizontalTab').easyResponsiveTabs({
			type : 'default', //Types: default, vertical, accordion           
			width : 'auto', //auto or any width like 600px
			fit : true
		// 100% fit in a container
		});
	});
</script>
<script src="../bootstrap/js/menu_jquery.js"></script>
</head>
<body>
	<div class="header">
		<div class="container">
			<div class="header-grids">
				<div class="logo">
					<h1>
						<a href="index.html"><span>Go</span>vihar</a>
					</h1>
				</div>
				<div class="header-dropdown">
					<div class="emergency-grid">
						<ul>
							<li>Toll Free :</li>
							<li class="call">+1 234 567 8901</li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="nav-top">
				<div class="top-nav">
					<span class="menu"><img src="../bootstrap/images/menu.png"
						alt="" /></span>
					<ul class="nav1">
						<li class="active"><a href="index.html">Flights</a></li>
						<li><a href="hotels.html">Hotels</a></li>
						<li><a href="holidays.html">Holidays</a></li>
						<li><a href="flights-hotels.html">Flight+Hotel</a></li>
						<li><a href="bus.html">Bus</a></li>
						<li><a href="trains.html">Trains</a></li>
						<li><a href="weekend.html">Weekend Getaways</a></li>
						<li><a href="deals.html">Deals</a></li>
					</ul>
					<div class="clearfix"></div>
					<script>
						$("span.menu").click(function() {
							$("ul.nav1").slideToggle(300, function() {
								// Animation complete.
							});
						});
					</script>
				</div>
				<div class="dropdown-grids">
					<div id="loginContainer">
						<a href="#" id="loginButton"><span>Login</span></a>
						<div id="loginBox">
							<form id="loginForm">
								<div class="login-grids">
									<div class="login-grid-left">
										<fieldset id="body">
											<fieldset>
												<label for="email">Email Address</label> <input type="text"
													name="email" id="email">
											</fieldset>
											<fieldset>
												<label for="password">Password</label> <input
													type="password" name="password" id="password">
											</fieldset>
											<input type="submit" id="logins" value="Log in" style="background-color:yellow;">
											<input type="submit" id="login" value="Sign in"> <label
												for="checkbox"><input type="checkbox" id="checkbox">
												<i>Remember me</i></label>
										</fieldset>
										<span><a href="#">Forgot your password?</a></span>
										<div class="or-grid">
											<p>OR</p>
										</div>
										<div class="social-sits">
											<div class="facebook-button">
												<a href="#">Connect with Facebook</a>
											</div>
											<div class="chrome-button">
												<a href="#">Connect with Google</a>
											</div>
											<div class="button-bottom">
												<p>
													New account? <a href="signup.html">Signup</a>
												</p>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="banner">
		<!-- container -->
		<div class="container">
			<div class="col-md-4 banner-left">
				<section class="slider2">
					<div class="flexslider">
						<ul class="slides">
							<li>
								<div class="slider-info">
									<img src="../bootstrap/images/1.jpg" alt="">
								</div>
							</li>
							<li>
								<div class="slider-info">
									<img src="../bootstrap/images/2.jpg" alt="">
								</div>
							</li>
							<li>
								<div class="slider-info">
									<img src="../bootstrap/images/3.jpg" alt="">
								</div>
							</li>
							<li>
								<div class="slider-info">
									<img src="../bootstrap/images/4.jpg" alt="">
								</div>
							</li>
							<li>
								<div class="slider-info">
									<img src="../bootstrap/images/2.jpg" alt="">
								</div>
							</li>
						</ul>
					</div>
				</section>
			</div>
			<div class="col-md-8 banner-right">
				<div class="sap_tabs">
					<div class="booking-info">
						<h2>Book Domestic & International Flight Tickets</h2>
					</div>
					<div id="horizontalTab"
						style="display: block; width: 100%; margin: 0px;">
						<ul class="resp-tabs-list">
							<li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>Return</span></li>
							<li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>One
									way</span></li>
							<div class="clearfix"></div>
						</ul>
						<div class="resp-tabs-container">
							<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
								<div class="facts">
									<div class="booking-form">
										<script>
											$(function() {
												$("#datepicker,#datepicker1")
														.datepicker();
											});
										</script>

										<div class="online_reservation">
											<div class="b_room">
												<div class="booking_room">
													<div class="reservation">
														<ul>
															<li class="span1_of_1 desti">
																<h5>Flying from</h5>
																<div class="book_date">
																	<form>
																		<span class="glyphicon glyphicon-map-marker"
																			aria-hidden="true"></span> <input type="text"
																			placeholder="Type Departure City"
																			class="typeahead1 input-md form-control tt-input"
																			required="">
																	</form>
																</div>
															</li>
															<li class="span1_of_1 left desti">
																<h5>Flying to</h5>
																<div class="book_date">
																	<form>
																		<span class="glyphicon glyphicon-map-marker"
																			aria-hidden="true"></span> <input type="text"
																			placeholder="Type Destination City"
																			class="typeahead1 input-md form-control tt-input"
																			required="">
																	</form>
																</div>
															</li>
															<div class="clearfix"></div>
														</ul>
													</div>
													<div class="reservation">
														<ul>
															<li class="span1_of_1">
																<h5>Departure</h5>
																<div class="book_date">
																	<form>
																		<span class="glyphicon glyphicon-calendar"
																			aria-hidden="true"></span> <input type="date"
																			value="Select date" onFocus="this.value = '';"
																			onBlur="if (this.value == '') {this.value = 'Select date';}">
																	</form>
																</div>
															</li>
															<li class="span1_of_1 left">
																<h5>Return</h5>
																<div class="book_date">
																	<form>
																		<span class="glyphicon glyphicon-calendar"
																			aria-hidden="true"></span> <input type="date"
																			value="Select date" onFocus="this.value = '';"
																			onBlur="if (this.value == '') {this.value = 'Select date';}">
																	</form>
																</div>
															</li>
															<li class="span1_of_1 left adult">
																<h5>Adults (18+)</h5> <!----------start section_room----------->
																<div class="section_room">
																	<select id="country"
																		onChange="change_country(this.value)"
																		class="frm-field required">
																		<option value="null">1</option>
																		<option value="null">2</option>
																		<option value="AX">3</option>
																		<option value="AX">4</option>
																		<option value="AX">5</option>
																		<option value="AX">6</option>
																	</select>
																</div>
															</li>
															<li class="span1_of_1 left children">
																<h5>Children (0-17)</h5> <!----------start section_room----------->
																<div class="section_room">
																	<select id="country"
																		onChange="change_country(this.value)"
																		class="frm-field required">
																		<option value="null">1</option>
																		<option value="null">2</option>
																		<option value="AX">3</option>
																		<option value="AX">4</option>
																		<option value="AX">5</option>
																		<option value="AX">6</option>
																	</select>
																</div>
															</li>
															<li class="span1_of_1 economy">
																<h5>Class</h5> <!----------start section_room----------->
																<div class="section_room">
																	<select id="country"
																		onChange="change_country(this.value)"
																		class="frm-field required">
																		<option value="null">Economy</option>
																		<option value="null">Business</option>
																	</select>
																</div>
															</li>
															<div class="clearfix"></div>
														</ul>
													</div>
													<div class="reservation">
														<ul>
															<li class="span1_of_3">
																<div class="date_btn">
																	<form>
																		<input type="submit" value="Search" />
																	</form>
																</div>
															</li>
															<div class="clearfix"></div>
														</ul>
													</div>
												</div>
												<div class="clearfix"></div>
											</div>
										</div>
										<!---->
									</div>
								</div>
							</div>
							<div class="tab-2 resp-tab-content" aria-labelledby="tab_item-1">
								<div class="facts">
									<div class="booking-form">
										<link rel="stylesheet" href="../bootstrap/css/jquery-ui.css" />
										<script src="../bootstrap/js/jquery-ui.js"></script>
										<script>
											$(function() {
												$("#datepicker,#datepicker1")
														.datepicker();
											});
										</script>

										<div class="online_reservation">
											<div class="b_room">
												<div class="booking_room">
													<div class="reservation">
														<ul>
															<li class="span1_of_1 desti">
																<h5>Flying from</h5>
																<div class="book_date">
																	<form>
																		<span class="glyphicon glyphicon-map-marker"
																			aria-hidden="true"></span> <input type="text"
																			placeholder="Type Departure City"
																			class="typeahead1 input-md form-control tt-input"
																			required="">
																	</form>
																</div>
															</li>
															<li class="span1_of_1 left desti">
																<h5>Flying to</h5>
																<div class="book_date">
																	<form>
																		<span class="glyphicon glyphicon-map-marker"
																			aria-hidden="true"></span> <input type="text"
																			placeholder="Type Destination City"
																			class="typeahead1 input-md form-control tt-input"
																			required="">
																	</form>
																</div>
															</li>
															<div class="clearfix"></div>
														</ul>
													</div>
													<div class="reservation">
														<ul>
															<li class="span1_of_1">
																<h5>Departure</h5>
																<div class="book_date">
																	<form>
																		<span class="glyphicon glyphicon-calendar"
																			aria-hidden="true"></span> <input type="date"
																			value="Select date" onFocus="this.value = '';"
																			onBlur="if (this.value == '') {this.value = 'Select date';}">
																	</form>
																</div>
															</li>
															<li class="span1_of_1 left">
																<h5>Adults (18+)</h5> <!----------start section_room----------->
																<div class="section_room">
																	<select id="country"
																		onChange="change_country(this.value)"
																		class="frm-field required">
																		<option value="null">1</option>
																		<option value="null">2</option>
																		<option value="AX">3</option>
																		<option value="AX">4</option>
																		<option value="AX">5</option>
																		<option value="AX">6</option>
																	</select>
																</div>
															</li>
															<li class="span1_of_1 left tab-children">
																<h5>Children (0-17)</h5> <!----------start section_room----------->
																<div class="section_room">
																	<select id="country"
																		onChange="change_country(this.value)"
																		class="frm-field required">
																		<option value="null">1</option>
																		<option value="null">2</option>
																		<option value="AX">3</option>
																		<option value="AX">4</option>
																		<option value="AX">5</option>
																		<option value="AX">6</option>
																	</select>
																</div>
															</li>
															<li class="span1_of_1 economy">
																<h5>Class</h5> <!----------start section_room----------->
																<div class="section_room">
																	<select id="country"
																		onChange="change_country(this.value)"
																		class="frm-field required">
																		<option value="null">Economy</option>
																		<option value="null">Business</option>
																	</select>
																</div>
															</li>
															<div class="clearfix"></div>
														</ul>
													</div>
													<div class="reservation">
														<ul>
															<li class="span1_of_3">
																<div class="date_btn">
																	<form>
																		<input type="submit" value="Search" />
																	</form>
																</div>
															</li>
															<div class="clearfix"></div>
														</ul>
													</div>
												</div>
												<div class="clearfix"></div>
											</div>
										</div>
										<!---->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="move-text">
		<div class="marquee">
			Register your hotel with us free of cost.<a href="signup.html">Here</a>
		</div>
		<script type="text/javascript"
			src="../bootstrap/js/jquery.marquee.min.js"></script>
		<script>
			$('.marquee').marquee({
				pauseOnHover : true
			});
			//@ sourceURL=pen.js
		</script>
	</div>
	
	<div class="popular-grids">
		<div class="container">
			<div class="popular-info">
				<h3>Popular Places</h3>
			</div>
			<div class="slider">
				<div class="arrival-grids">
					<ul id="flexiselDemo1">
						<li><a href="products.html"><img
								src="../bootstrap/images/a3.jpg" alt="" /> </a></li>
						<li><a href="products.html"><img
								src="../bootstrap/images/a2.jpg" alt="" /> </a></li>
						<li><a href="products.html"><img
								src="../bootstrap/images/a4.jpg" alt="" /> </a></li>
						<li><a href="products.html"><img
								src="../bootstrap/images/a1.jpg" alt="" /> </a></li>
					</ul>
					<script type="text/javascript">
						$(window).load(function() {
							$("#flexiselDemo1").flexisel({
								visibleItems : 4,
								animationSpeed : 1000,
								autoPlay : true,
								autoPlaySpeed : 3000,
								pauseOnHover : true,
								enableResponsiveBreakpoints : true,
								responsiveBreakpoints : {
									portrait : {
										changePoint : 480,
										visibleItems : 1
									},
									landscape : {
										changePoint : 640,
										visibleItems : 2
									},
									tablet : {
										changePoint : 768,
										visibleItems : 3
									}
								}
							});
						});
					</script>
					<script type="text/javascript"
						src="../bootstrap/js/jquery.flexisel.js"></script>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="footer-bottom-grids">
		<!-- container -->
		<div class="container">
			<div class="footer-bottom-top-grids">
				<div class="col-md-4 footer-bottom-left">
					<h4>Download our mobile Apps</h4>
					<div class="d-apps">
						<ul>
							<li><a href="#"><img src="../bootstrap/images/app1.png"
									alt="" /></a></li>
							<li><a href="#"><img src="../bootstrap/images/app2.png"
									alt="" /></a></a></li>
							<li><a href="#"><img src="../bootstrap/images/app3.png"
									alt="" /></a></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 footer-bottom-left">
					<h4>We Accept</h4>
					<div class="a-cards">
						<ul>
							<li><a href="#"><img src="../bootstrap/images/c1.png"
									alt="" /></a></li>
							<li><a href="#"><img src="../bootstrap/images/c2.png"
									alt="" /></a></a></li>
							<li><a href="#"><img src="../bootstrap/images/c3.png"
									alt="" /></a></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 footer-bottom-left">
					<h4>Follow Us</h4>
					<div class="social">
						<ul>
							<li><a href="#" class="facebook"> </a></li>
							<li><a href="#" class="facebook twitter"> </a></li>
							<li><a href="#" class="facebook chrome"> </a></li>
							<li><a href="#" class="facebook dribbble"> </a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="copyright">
					<p>
						Copyright &copy; 2015.Company name All rights reserved.<a
							target="_blank" href="http://www.cssmoban.com/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<script defer src="../bootstrap/js/jquery.flexslider.js"></script>
	<script src="../bootstrap/js/easyResponsiveTabs.js"
		type="text/javascript"></script>
	<script src="../bootstrap/js/jquery-ui.js"></script>
	<script type="text/javascript" src="../bootstrap/js/script.js"></script>
	<script type="text/javascript">
		$(function() {
			SyntaxHighlighter.all();
		});
		$(window).load(function() {
			$('.flexslider').flexslider({
				animation : "slide",
				start : function(slider) {
					$('body').removeClass('loading');
				}
			});
		});
	</script>
</body>
</html>